/* hi */
h1 {
  color: #555;
  margin: 2em 2em 1rem 1rem;
  padding: 1vw 5px;
  text-align: center;
}

h2 {
  color: rgb(100, 100, 100);
  margin: 1in 1cm;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

p {
  border-style: dotted;
  border-color: blue;
  border-width: 1px;
  border-radius: 5px;
}

a {
  color: green;
  text-decoration: underline dashed;
  display: inline-block;
}

a:hover {
  display: none;
}

button:active {
  background-color: green;
}

label {
  display: block;
}
span {
  /* this does nothing */
  display: inline;
}

textarea {
  min-width: 5rem;
  min-height: 10rem;
  width: 10rem;
  height: 11rem;
  resize: none;
}

footer > div {
  display: flex;
  align-items: center;
  justify-items: start;
  gap: 1rem;
}
